html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 400 11px/1.4 'Helvetica Neue', 'San-serif';
  color: #f4f1de;
  background: #3d405b;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

